
body{
    user-select: none;
    margin: 0px;
    padding: 0px;
    background: #f2f2f2;
    font-family: verdana;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    text-align: center;
    font-size: 2.5vw;
    
}

a{
    text-decoration: none;
    color: black;
}

header{
    background:  #000000;
    padding: 10px;
    height: 50%;
    display: grid;
    grid-template-columns: 12% 25% 63%;
}

#header1{
    font-weight: normal;
    font-size:17vw;
    color: #0099ff;
    text-align: right; 
    margin: 0px;
    animation-name: myfade;
    animation-fill-mode: forwards;
	animation-duration: 5s;

}

#header2{
    font-weight: normal;
    font-size: 5vw;
    color: white;
    text-align: left;
    margin-top: 15%; 
    margin-bottom: 15%; 
    animation-name: move;
    animation-fill-mode: forwards;
	animation-duration: 3s;
    position: relative;
}

#header2 > span{
    font-size:6vw ;
    
}

i{
    color: #0099ff;
    font-size: 8vw;
    margin-top: 11%;
    margin-bottom: 11%;
    animation-name: mymove;
	animation-fill-mode: forwards;
	animation-duration: 5s;
	position: relative;
    } 
    
div:nth-child(odd) {
    padding: 10px;
    background: #cccccc;
}

.navbox{
    display:grid; 
grid-template-columns:auto auto;}
.navbanner{
padding: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border: 2px solid #0099ff;
margin: 10px;
display:grid;
    grid-template-columns:auto auto;
    justify-content: center;

}
h3{
    grid-column: 1/3;
}
figure{
    text-align: center;
    margin:10px;
    padding: 10px;
    border-radius:5px;
    width: 150px;
    height: 150px;
    
}

.box{
    margin: 10px;
    display:grid; 
    grid-template-columns:auto auto auto auto;
    justify-content: center;
    
    
}
h2{
    grid-column: 1/5;
}

 img{
    width: 100px;
    color: #0099ff;
    animation-name: myfade;
	animation-fill-mode: forwards;
	animation-duration: 5s;
}




.CU{
    display:grid; 
    grid-template-columns:50% 50%;
    padding: 5px;
    
    color: #000000;
    text-align: center;
    
}

.CU > a{
    margin: 10px;
    border: 1px solid #000000 ;
    border-radius: 5px;
    padding: 5px;
    color:#000000;
    background-color:#0099ff;
}

footer{
    background: #000000;
    color:#ffffff;
    padding: 20px;
}

iframe{
   width: 70%;
   height: 35vw;
   margin-left: 15%;
margin-right: auto;

}

@keyframes mymove{
        from{left: -50%; }
        to{left: 80%;transform: rotate(720deg); }
}

@keyframes move{
    from{top: -200px; }
    to{top: 0 }
}

@keyframes myfade{
    from{opacity: 0; }
    to{opacity: 1; }
}
/*-------------------------------------------------------------------
-----------------------------frame-Mobile--------------------------*/

@media screen and (max-width: 600px)
{/* Media Screen */

h1, h2, h3, h4, h5, h6{
       
    font-size: 5vw;
}
.navbox{
    display: unset;
}
.box{
    margin: 10px;
    display:grid; 
    grid-template-columns:auto auto auto;
      justify-content: center;
}


figure{
    text-align: center;
    margin: 2px;
    padding: 10px;
    border-radius:5px;
    width: 21vw;
    height: 21vw;
}

figcaption{
  font-size: 3.5vw

}

img{
    width:15vw;
}
h2{
    grid-column: 1/4;
}


}/* Media Screen*/
