
body{
    user-select: none;
    margin: 0px;
    padding: 0px;
    background: #f2f2f2;
    font-family: verdana;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background:  #000000;
    padding: 10px;
    height: 50%;
    display: grid;
    grid-template-columns: 12% 25% 63%;
}

#header1{
    font-weight: normal;
    font-size:17vw;
    color: #0099ff;
    text-align: right; 
    margin: 0px;

}
#header2{
    font-weight: normal;
    font-size: 5vw;
    color: white;
    text-align: left;
    margin-top: 15%; 
    margin-bottom: 15%; 
}

#header2 > span{
    font-size:6vw ;
    
}
i{
    color: #0099ff;
    font-size: 8vw;
    margin-top: 11%;
    margin-bottom: 11%;
   
    animation-name: mymove;
	animation-fill-mode: forwards;
	animation-duration: 5s;
	position: relative;
    } 
    
    @keyframes mymove{
        from{left: 0%; }
        to{left: 80%; }
    }

figure{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #cce6ff;
    text-align: center;
    margin:10px;
    padding: 10px;
    border-radius:5px;
    width: 150px;
    height: 150px;
    border: 1px solid #003366;
}

.box{
    margin: 10px;
    display:grid; 
    grid-template-columns:auto auto auto auto;
    justify-content: space-between;
    
    
}

/* .infobox{
    display:grid; 
    grid-template-columns:50% 50%;
} */

 img{
    width: 100px;
}

.label{
    opacity: 0.5;
    background:#000000;
    border-radius: 5px 0px 5px 0px;
    color: #ffffff;
    position: relative;
    bottom: 5%;
    right: 40%;
    padding: 1px;
    z-index: 1;
}


.CU{
    display:grid; 
    grid-template-columns:50% 50%;
    padding: 5px;
    background-color:#0099ff;
    color: #ffffff;
    text-align: center;
    
}

.CU > a{
    margin: 10px;
    border: 1px solid #ffffff ;
    border-radius: 5px;
    padding: 5px;
    color:#ffffff;
}

footer{
    background: #000000;
    color:#ffffff;
    padding: 20px;
}

/*-------------------------------------------------------------------
-----------------------------frame-Mobile--------------------------*/

@media screen and (max-width: 600px)
{/* Media Screen */

.box{
    margin: 10px;
    display:grid; 
    grid-template-columns:auto auto auto;
    justify-content: space-between;  
}


figure{
    background: #cce6ff;
    text-align: center;
    margin: 2px;
    padding: 10px;
    border-radius:5px;
    width: 80px;
    height: 80px;
}

figcaption{
  font-size: 12px;

}

img{
    width:50px;
}

.label{
    opacity: 0.5;
    background:#000000;
    border-radius: 5px 0px 5px 0px;
    color: #ffffff;
    position: relative;

    bottom: 15%;
    right: 40%;
    padding: 1px;
    font-size: 10px;
    display: none;
    
}


}/* Media Screen*/
