
body{
    user-select: none;
    margin: 0px;
    padding: 0px;
    background: #f2f2f2;
    font-family: verdana;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background:  #003366;
    color: white;
    padding: 10px;
    text-align: center;
    height: 80px;
    
}
#header{
    text-decoration: none;
    font-weight: normal;
    font-size: 50px;
    color: white;
    font-family: Cursive;
    
    
    
}


figure{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #cce6ff;
    text-align: center;
    margin:10px;
    padding: 10px;
    border-radius:5px;
    width: 150px;
    height: 150px;
    border: 1px solid #003366;
}

.box{
    margin: 10px;
    display:grid; 
    grid-template-columns:auto auto auto;
    justify-content: space-between;
    
    
}

/* .infobox{
    display:grid; 
    grid-template-columns:50% 50%;
} */

 img{
    width: 100px;
}

.label{
    opacity: 0.5;
    background:#000000;
    border-radius: 5px 0px 5px 0px;
    color: #ffffff;
    position: relative;
    bottom: 5%;
    right: 40%;
    padding: 1px;
    z-index: 1;
}


.CU{
    display:grid; 
    grid-template-columns:50% 50%;
    padding: 5px;
    background-color:#003366;
    color: #ffffff;
    text-align: center;
    
}

.CU > a{
    margin: 10px;
    border: 1px solid #ffffff ;
    border-radius: 5px;
    padding: 5px;
    color:#ffffff;
}

footer{
    background: #000000;
    color:#ffffff;
    padding: 20px;
}

/*-------------------------------------------------------------------
-----------------------------frame-Mobile--------------------------*/

@media screen and (max-width: 600px)
{/* Media Screen */

body{
    margin-right: 0px;
    margin-left:0px ;
}


#header{
    font-size: 30px;
}





figure{
    background: #cce6ff;
    text-align: center;
    margin: 2px;
    padding: 10px;
    border-radius:5px;
    width: 80px;
    height: 80px;
}

figcaption{
  font-size: 12px;

}

img{
    width:50px;
}

.label{
    opacity: 0.5;
    background:#000000;
    border-radius: 5px 0px 5px 0px;
    color: #ffffff;
    position: relative;

    bottom: 15%;
    right: 40%;
    padding: 1px;
    font-size: 10px;
    display: none;
    
}


}/* Media Screen*/
